models/mnist_googlenet.zip filter=lfs diff=lfs merge=lfs -text
models/mnist_vgg.zip filter=lfs diff=lfs merge=lfs -text
models/mnist_resnet.zip filter=lfs diff=lfs merge=lfs -text
models/cifar10_vgg.zip filter=lfs diff=lfs merge=lfs -text

